html,
body,
body * {
  box-sizing: border-box;
}

.big-button {
  color: #18bc9c;
  border: 2px solid #18bc9c;
  background-color: #fff;
}
header .intro-text .name {
  font-size: 2.75em;
}

img.user_profile {
  width: 200px;
}

#button_user_pic {
  width: 51px;
  margin: -10px 10px -10px -17px;
}

.facebook_button {
  color: #3b5998;
  border: 2px solid #3b5998;
}

header img#button_user_pic {
  display: inline;
}

footer hr.star-light:after {
  background-color: #233140;
}

.card {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 20px;
}

@media (min-width: 768px) {
  .card #user-name {
    margin-top: 34%;
  }
  h1 {
    margin-top: 6%;
  }
}

.blur {
  color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.navbar-custom {
  padding: 10px;
}

header .container {
  padding-top: 150px;
}
.metrics-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  list-style-type: none;
  grid-gap: 2rem;
  padding: 0;
}
.metric-item {
  grid-row: span 1;
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto) 1fr;
}
.metric-item:not(:last-of-type)::after {
  content: "";
  display: block;
  bottom: -10px;
  height: 4px;
  width: 25%;
  border-radius: 10px;
  background-color: #18bc9c;
  grid-column: span 2;
  justify-self: center;
  margin: 2rem 0 0;
}
.metric-item h3 {
  grid-row: span 1;
  grid-column: span 2;
  justify-self: center;
}
.metric-item h4 {
  grid-row: span 1;
  grid-column: span 2;
  position: relative;
}

.metric-item ul {
  grid-row: span 1;
  grid-column: span 2;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}
.metric-item ul > li {
  grid-row: span 1;
  grid-column: span 1;
}
.metric-item ul > li > h5 {
  text-align: center;
  position: relative;
  color: #fff;
  padding: 10px 0;
}
.metric-item ul > li > h5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}
.metric-item ul > li:nth-of-type(odd) > h5::after {
  background-color: #18bc9c;
}
.metric-item ul > li:nth-of-type(even) > h5::after {
  background-color: #3b5998;
}
.th-sm {
  text-align: center;
}
.th-sm.th-title {
  color: #fff;
}
.th-sm.th-title:nth-of-type(odd) {
  background-color: #18bc9c;
}
.th-sm.th-title:nth-of-type(even) {
  background-color: #3b5998;
}
.historical-dt {
  margin-top: 6rem;
}
.weather_data_description {
  color: #fff;
}
