{% extends 'base.html' %}

{% block content %}
	<!-- Header -->
	<header>
		<div class="container" id="maincontent" tabindex="-1">
			<div class="row">
				<div class="col-lg-12">
					{% include 'card.html' %}
				</div>
			</div>
			<div class="row">
				<div class="intro-text">
					<h1 class="name">Recevoir les informations des capteurs ?</h1>
					<hr class="star-light"/>
				</div>
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<p>
						Il ne vous suffit qu'à cliquer sur le bouton ci-dessous pour connaître les résultats !
					</p>
					<p style="margin-top: 20px;">
						<a class="btn big-button" href="/results">
							Recevoir les informations
						</a>
					</p>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
