{% extends 'base.html' %} {% block content %}
<!-- Header -->
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        {% include 'card.html' %}
      </div>
    </div>
  </div>
</header>
<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Informations sur les capteurs :</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="metrics-list">
            {% for data_raw in data_raws %}
            <li class="metric-item">
              <h3>
                Date de la mesure {{ data_raw.id }} :
                <span>
                  {{ data_raw.date_time }}
                </span>
              </h3>
              <h4>
                Informations provenant des capteurs :
              </h4>

              <ul>
                {% for sensor in data_raw.sensors_informations %}
                <li>
                  <h5>
                    Sensor :
                    <span>{{ sensor.sensor_id }}</span>
                  </h5>
                  <p>
                    Niveau de Batterie :
                    <span>{{ sensor.sensor_battery_voltage_decrypt }}V</span> -
                    <span
                      style="
                        color: #2c3e50;
                        font-weight: bold;
                        text-decoration: underline;
                      "
                      >{{(((sensor.sensor_battery_voltage_decrypt)*100)/36.7)|round(2,
                      'floor') }}%</span
                    >
                  </p>
                  <p>
                    Température :
                    <span>{{ sensor.sensor_temperature_decrypt }}°C</span>
                  </p>
                  <p>
                    Humidité :
                    <span>
                      {% if sensor.sensor_humidity_decrypt == 'n.a' %} N.A {%
                      else %} {{sensor.sensor_humidity_decrypt}}% {% endif %}
                    </span>
                  </p>
                  <p>
                    Signal RSSI :
                    <span>{{ sensor.sensor_rssi_decrypt }}dBm</span>
                  </p>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <canvas id="resultsChart"></canvas>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% include 'historical.html' %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block chartScript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
  var ctx = document.getElementById('resultsChart').getContext('2d');
  	var chartDatesLabels = [{% for item in chart_date_labels %}"{{ item }}",{% endfor %}];
   	var chartHumiditiesValues = [{% for item in chart_humidities_values %}"{{ item }}",{% endfor %}];
   	var chartSensor1TemperatureValues = [{% for item in chart_temperature_values[0] %}"{{ item }}",{% endfor %}];
   	var chartSensor2TemperatureValues = [{% for item in chart_temperature_values[1] %}"{{ item }}",{% endfor %}];

  console.log('chartDatesLabels', chartDatesLabels, 'chartHumiditiesValues', chartHumiditiesValues, 'chartSensor1TemperatureValues', chartSensor1TemperatureValues, 'chartSensor2TemperatureValues', chartSensor2TemperatureValues);

  var resultsChart= new Chart(ctx, {
   	// The type of chart we want to create
  type: 'bar',

  // The data for our dataset
  data: {
  	datasets: [
  		{
  			label: 'Température Sensor 1',
  			data: chartSensor1TemperatureValues,
  			order: 0,
  			backgroundColor: 'rgba(59, 89, 152, .5)'
  		}, {
  			label: 'Température Sensor 2',
  			data: chartSensor2TemperatureValues,
  			order: 1,
  			backgroundColor: 'rgba(24, 188, 156, .5)'
  		}, {
  			label: 'Taux d\'humidité en %',
  			backgroundColor: 'rgba(255, 99, 132, 0.2)',
  			borderColor: 'rgb(255, 99, 132)',
  			data: chartHumiditiesValues,
  			type: 'line',
  			order: 2
  		}
  	],
  	labels: chartDatesLabels
  },

  // Configuration options go here
  options: {
  	scales: {
  		yAxes: [
  			{
  				ticks: {
  					beginAtZero: true
  				}
  			}
  		]
  	}
  }
  });
</script>
{% endblock %}
